body{
    width:960px;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

img[src="images/header.gif"]{
    width:"100%";
}

img[src^="images/head_"]{
    float: left;
    border: #CC1C0D solid 1px;
    border-radius: 50px;
    margin-right: 20px;
}

img[src^="images/logo"]{
    width:63px;
    height:36px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

p + ul{
    list-style-type:disc !important;
 } 
 
ul{
    list-style-type: none; 
  }


  h2{
      border: solid 1px #929CA4;
      background-color: #DFE3E6;
      border-radius: 10px;
      padding-left: 5px;
      color:#CC1C0D;
      font-size: 1.2em;
  }

  a{
      color:  #CC1C0D;
  }


  img[src^="images/logo"]::after{
      font-weight: bold;
      float: left;
  }

  section div{
      float: left;
      border: solid 1px #929CA4;
      border-radius: 5px;
      margin-left: 5px;
      width: 14em;
      text-align: center;
      height:16em;
  }

.pricing div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-bottom: 15px;
    position: relative;
    padding-left: 33%;
    padding-right: 33%;
}
  #vprospectdiv h3{
    clear: left;
    border-top: solid 5px #CC1C0D;   
}

#vconvertdiv h3{
    clear: left;
    border-top: solid 5px #37A4A4; 
      }
      
#vretaindiv h3{
    clear: left;
    border-top: solid 5px #685288; 
}

#enterprisediv h3{
    margin-top:26px;
    margin-bottom:11px;
    border-top: solid 5px #000000; 
}

#vprospect, #vconvert, #vretain{
    font-weight: bold;
}
