body{
    width:960px;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

/* to keep or not to keep*/
img[src^="images/head_"]{
    width:80px;
    height:100px;
    float: left;
    border: #CC1C0D solid 1px;
    border-radius: 50px;
    margin-right: 20px;
}

img[src^="images/logo"]{
    width:63px;
    height:36px;
    float: left;
}

p + ul{
    list-style-type:disc !important;
 } 
 
ul{
    list-style-type: none; 
  }

/**change colours **/
  h2{
      border: solid 1px #929CA4;
      background-color: #DFE3E6;
      border-radius: 10px;
      padding-left: 5px;
      color: red;
      font-size: 1.2em;
  }

  a{
      color:  #CC1C0D;
  }


  img[src^="images/logo"]::after{
      font-weight: bold;
      float: left;
  }

  section div{
      float: left;
      border: solid 1px #929CA4;
      border-radius: 5px;
      margin-left: 5px;
      width: 14em;
      text-align: center;
      height:16em;
  }

.pricing div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-bottom: 15px;
    position: relative;
    padding-left: 33%;
    padding-right: 33%;
}
  #vprospect h3{
    clear: left;
    border-top: solid 5px #CC1C0D;   
}

#vconvert h3{
    clear: left;
    border-top: solid 5px #37A4A4; 
      }
      
#vretain h3{
    clear: left;
    border-top: solid 5px #685288; 
}

#enterprise h3{
    border-top: solid 5px #000000; 
}


/*alignment of enterprise*/
#enterprise:not(:last-child){
    line-height: 1em !important;
}